*.gz
*.FITS
*.fits
*.gsheet
*.png
*.h5
*.txt
*.dat
*.csv
output/NGC5457_pdf.csv
*.pdf
*.ini
*.pyc
data/*
hdf5_MBBDust/*
hdf5_MBBDust/*
output/*
PREVIOUS_plots/*
Projects/*
idc_lib/__pycache__/*
VLA_scripted_pipeline/phangs_imaging_scripts/
data/
